<div id="<%= dom_id blog %>" class="blog__post">
  <h1 class="blog__title">
    <%= blog.title %>
  </h1>

  <div>
    <%= image_tag(blog.cover_image, class: "blog_cover") %>
  </div>

  <article>
    <p class="blog__content">
      <%= blog.content %>
    </p>
  </article>
</div>
