<%= render "header/nav" %>

<main class="bg-beige">
  <!-- Intro -->
  <section class="hero">
    <h1 class="text-center">Pick the package that <i>fits</i> you best.</h1>
    <p class="text-center">If none of these packages work, reach out to see if we can help.</p>
    <%= link_to "View services &#8595;".html_safe, " #pricing", class: "btn btn--large" %>
  </section>

  <div class="hr"></div>

  <!-- Pricing -->
  <section id="pricing">
    <div class="section__title">
      <p class="text-center">OUR PRICING</p>
      <h2 class="text-center">It's simple. We only have <i>2 packages.</i></h2>
    </div>

    <div class="pricing__wrapper">
      <!-- Standard pricing -->
      <div class="process-card">
        <h3 class="process-card__heading">Standard</h3>
        <p class="process-card__sub-heading">$50/mo</p>
        <ul class="pricing-card__list">
          <li class="process-card__description"><strong>High end</strong> custom website design and development</li>
          <li class="process-card__description">Fixed price with no surprise charges</li>
          <li class="process-card__description">Hosting for as long as the internet exists</li>
          <li class="process-card__description"><strong>Custom logo</strong>, if needed</li>
          <li class="process-card__description"><strong>Free code export</strong></li>
          <li class="process-card__description"><strong>30</strong> changes a month</li>
          <li class="process-card__description"><strong>Visual editor</strong> if you want to go in and change basic elements on the website (text, images, etc.)</li>
          <p class="pricing-card__description"><i>*Domain name fee not covered (usually $1/mo)</i></p>
        </ul>

        <%= link_to "Choose this package &#8594;".html_safe, "mailto:waseem.mehany@hamptonlab.com?subject=Let's Talk About the Standard Package", class: "btn btn--fit" %>
      </div>

      <!-- Lite -->
      <div class="process-card">
        <h3 class="process-card__heading">Lite</h3>
        <p class="process-card__sub-heading">$25/mo</p>
        <ul class="pricing-card__list">
          <li class="process-card__description">Custom website design and development</li>
          <li class="process-card__description">Fixed price with no surprise charges</li>
          <li class="process-card__description">Hosting for as long as the internet exists</li>
          <li class="process-card__description">10 changes a month</li>
          <p class="pricing-card__description"><i>*Domain name fee not covered (usually $1/mo)</i></p>
        </ul>

        <%= link_to "Choose this package &#8594;".html_safe, "mailto:waseem.mehany@hamptonlab.com?subject=Let's Talk About the Lite Package", class: "btn btn--fit" %>
      </div>
    </div>
  </section>
</main>
