body {
  background: var(--color-white);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 80rem;
  padding: calc(var(--nav-height) + var(--space-sm)) 0px;
  transition: background-color var(--transition-speed) var(--transition-curve);
}
body:has(main.bg-beige) {
  background-color: var(--color-beige);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: clip;
  overflow-y: hidden;
  position: relative;
  margin: 1rem 0rem;
  padding: 0px var(--space-md) var(--space-xl) var(--space-md);
  /* max-width: 64rem; */
  align-self: center;
}

@media (max-width: 48em) {
  main {
    padding: 0px var(--space-xs) var(--space-xl) var(--space-xs);
  }
}

section {
  width: 100%;
  margin: var(--space-xl) 0;
  scroll-margin-top: calc(var(--nav-height) + var(--space-md));
}

div {
  font-size: var(--font-text);
  color: var(--color-text);
  font-weight: 300;
  /* margin-block: 0.25rem; */
  line-height: normal;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-xxs) var(--space-md);
  background-color: var(--color-blue-400);
  font-size: var(--font-h4);
  color: var(--color-white);
  font-weight: 400;
  line-height: 1;
  vertical-align: middle;
  border-radius: var(--border-radius-lg);
  text-decoration: none;
  outline: 2px solid transparent;
  outline-offset: 0.2em;
  transition: outline-color var(--transition-speed), outline-offset var(--transition-speed);
}

.btn:hover {
  outline: 2px solid var(--color-black-100);
  outline-offset: 0.05em;
}

.btn--secondary {
  background-color: var(--color-white);
  border: 2px solid var(--color-blue-400);
  color: var(--color-blue-400);
  transition: background-color var(--transition-speed);
}

.btn--secondary:hover {
  background-color: var(--color-blue-400);
  color: var(--color-white);
}

.btn--outline {
  background-color: var(--color-white);
  border: 2px solid var(--color-blue-400);
  color: var(--color-blue-400);
  transition: outline-color var(--transition-speed), outline-offset var(--transition-speed);
}

.btn--outline:hover {
  outline: 2px solid var(--color-white);
  outline-offset: 0.05em;
}

.btn--large {
  margin-top: var(--space-md);
  font-size: var(--font-h3);
  padding: var(--space-xs) var(--space-md);
}

.color-blue {
  /* color: #31859e; */
  /* color: var(--color-blue-400); */
  text-decoration: underline;
}

.hr {
  width: 50%;
  margin: 0 auto;
  height: 1px;
  background-color: var(--color-blue-400);
}
@media (max-width: 48em) {
  .hr {
    width: 80%;
  }
}
