.blog__feed {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding-top: var(--space-normal);
  row-gap: var(--space-normal);
}

.blog__card {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  /* box-shadow: 0 0 0 1px rgba(var(--rgb-black), 0.075); */
  box-shadow: 0 4.5810809135px 22.9054050446px 0 #a4abb71f, 0 12.2162160873px 18.3243236542px 0 #6b738424, 0 6.1081080437px 7.6351351738px 0 #3e405433;
  border: var(--border-width) solid var(--border-color);
  /* padding: var(--space-large) var(--space-large); */
  padding: 30px;
  max-width: 50rem;
  width: 80%;
}

@media (max-width:48em) {
  .blog__card {
    width: 100%;
  }
}

.blog__show {
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: var(--space-small);
  padding: 5px 10px;
  border-radius: var(--border-radius);
  box-shadow: 0 0 0 1px rgba(var(--rgb-black), 0.075);
  /* box-shadow: 0 4.5810809135px 22.9054050446px 0 #a4abb71f, 0 12.2162160873px 18.3243236542px 0 #6b738424, 0 6.1081080437px 7.6351351738px 0 #3e405433; */
  border: var(--border-width) solid var(--border-color);
  transition: transform var(--transition-speed) var(--transition-curve);
  background-color: var(--color-gray-200);
  color: var(--color-text);
  text-decoration: none;
  cursor: pointer;
}

.blog__show:hover {
  transform: scale(var(--transition-scale-up));
}

.blog__post {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* max-width: 80ch; */
  max-width: 50rem;
}

.blog__title {
  align-self: center;
}

/* Code blocks for  */
.blog__post pre {
  overflow-x: auto;
  white-space: pre-wrap;
}
