.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-small)
}

.hero__btn {
  margin-top: var(--space-medium);
  font-size: var(--font-h3);
  padding: var(--space-small) var(--space-medium);
}
