<%= render "header/nav" %>

<main class="bg-beige">
  <!-- Intro -->
  <section class="hero">
    <h1 class="text-center">Welcome to <i>Hampton Lab</i>.</h1>
    <p class="text-center">We believe that if we help enough people then we'll never have to worry about money.</p>
    <%= link_to "Our process &#8595;".html_safe, " #process", class: "btn btn--large" %>
  </section>

  <div class="hr"></div>

  <!-- Testimonial -->
  <!-- TODO -->

  <!-- Process -->
  <section id="process">
    <div class="section__title">
      <p class="text-center">OUR PROCESS</p>
      <h2 class="text-center">Let's walk through how this <i class="color-blue">usually</i> goes.</h2>
    </div>

    <div class="process__wrapper">
      <div class="process-card">
        <p class="process-card__number">01.</p>
        <h3 class="process-card__heading">Onboarding</h3>
        <p class="process-card__sub-heading">1 hour</p>
        <p class="process-card__description">We start off with an onboarding call to see what your goals are for your new website and to see if we're the right fit. If we're not the right fit, we will point you in the right direction. If you need another meeting to hash things out, then we will be happy to do that.</p>
      </div>

      <div class="process-card">
        <p class="process-card__number">02.</p>
        <h3 class="process-card__heading">Design</h3>
        <p class="process-card__sub-heading">1-2 week(s).</p>
        <p class="process-card__description">We will design your website from scratch, including any logos or figures that need to be refreshed, then we will deliver design files. Once you reach this stage, you have to commit for at least 6 months.</p>
      </div>

      <div class="process-card">
        <p class="process-card__number">03.</p>
        <h3 class="process-card__heading">Developement</h3>
        <p class="process-card__sub-heading">1-2 week(s).</p>
        <p class="process-card__description">We will develop your website from scratch to match the design spec. This is when your website comes to life. At the end of the week, we will share a staging website that is hidden from the public to get a confirmation.</p>
      </div>

      <div class="process-card">
        <p class="process-card__number">04.</p>
        <h3 class="process-card__heading">Deployment</h3>
        <p class="process-card__sub-heading">Instant.</p>
        <p class="process-card__description">Once the website is confirmed, we will deploy your website for the whole world to see.</p>
      </div>
    </div>
    <div class="process-card--cta">
      <%= link_to "Reach out &#8594;".html_safe, "mailto:contact@hamptonlab.com", class: "btn btn--large" %>
    </div>
  </section>
</main>
