<%= render "header/nav" %>

<main>
  <!-- Intro -->
  <section class="hero">
    <h1 class="text-center">Welcome to <i class="color-blue">Hampton Lab</i>.</h1>
    <!-- <p class="text-center">We create websites that just work.</p> -->
    <!-- <%= link_to "Explore", "", class: "btn btn--large" %> -->
  </section>

  <!-- <section>
    <div class="section__title">
      <p class="text-center">HOW WE OPERATE.</p>
      <h2 class="text-center">This is <i class="color-blue">usually</i> the timeline.</h2>
    </div>

    <div class="process__cards">
      <h3>1. Onboarding call (30 mins)</h3>
      <h3>2. First design (1 week)</h3>
      <h3>3. Website developement (2 weeks)</h3>
      <h3>4. Deploy</h3>
    </div>
  </section> -->
</main>
