<%= render "header/nav" %>

<main>
  <!-- Intro -->
  <section class="hero">
    <h1 class="text-center">Welcome to <i class="color-blue">Hampton Lab</i>.</h1>
  </section>
  <h1 class="text-center"></h1>
  <!-- Stacked paper effect -->
</main>
