<%= render "header/nav" %>
<main>
  <section class="hero">
    <h1 class="text-center"><i>Contact</i></h1>
    <%= link_to "Email us", "mailto:contact@hamptonlab.com", class: "btn btn--large" %>
  </section>

  <section></section>
</main>

<%= render "footer/nav" %>
