body {
  background: var(--color-bg);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 80rem;
  margin: 0px auto;
}

main {
  display: flex;
  flex-direction: column;
  overflow-x: clip;
  overflow-y: hidden;
  padding: var(--space-xx-large) 0px;
  position: relative;
  margin: 1rem 0rem;
}
