body {
  background: var(--color-bg);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 80rem;
}

main {
  display: flex;
  flex-direction: column;
  overflow-x: clip;
  padding-top: var(--space-xxx-large);
  position: relative;
}
