.nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  width: 100%;
  max-height: var(--nav-height);
  padding: var(--space-small);
  z-index: 100;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.75em);
  -webkit-backdrop-filter: blur(0.75em);
}

.nav__container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* Left - logo */
.nav__logo {
  align-items: center;
  display: flex;
  height: 100%;
  flex: 1;
}

.nav__logo svg {
  display: flex;
}

.nav__logo a:hover {
  transform: scale(var(--transition-scale-up));
  transition: transform var(--transition-speed) var(--transition-curve);
}

/* Center links */
.nav__links {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  gap: var(--space-small);
}

.nav__links a {
  display: flex;
  white-space: nowrap;
  font-weight: 500;
  color: var(--color-text);
}

.nav__links a:hover {
  transform: scale(var(--transition-scale-up));
  transition: transform var(--transition-speed) var(--transition-curve);
}

/* Right - button */
.nav__buttons {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.nav__buttons svg {
  display: flex;
}

.nav__buttons a:hover {
  transform: scale(var(--transition-scale-up));
  transition: transform var(--transition-speed) var(--transition-curve);
}

@media (max-width: 48rem) {
  .nav__links {
    display: none;
  }
}
