/* PP Eiko */
@font-face {
  font-family: "PP-Eiko";
  src: url("PPEiko-Thin.otf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "PP-Eiko";
  src: url("PPEiko-Medium.otf");
  font-weight: 400;
  font-style: normal;
}

/* Basis Grotesque Pro */
@font-face {
  font-family: "Basis-Grotesque-Pro";
  src: url("Basis-Grotesque-Pro-Regular.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Basis-Grotesque-Pro";
  src: url("Basis-Grotesque-Pro-Bold.otf");
  font-weight: 700;
  font-style: bold;
}

:is(h1, h2, h3) {
  font-family: "PP-Eiko", ui-serif, serif;
  font-feature-settings: "liga", "ss05";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(var(--rgb-black), 0);
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

:is(p, a, li) {
  font-family: "Basis-Grotesque-Pro", system-ui, -apple-system;
  font-feature-settings: "liga", "ss05";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(var(--rgb-black), 0);
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

:is(h1) {
  font-size: var(--font-h1);
  color: var(--color-text);
  font-weight: 400;
  line-height: 1.1;
}

@media (max-width: 768px) {
  :is(h1) {
    font-size: var(--font-h1-mobile);
  }
}

:is(h2) {
  font-size: var(--font-h2);
  color: var(--color-text);
  font-weight: 400;
}

:is(h3) {
  font-size: var(--font-h3);
  color: var(--color-text);
  font-weight: 400;
  line-height: 1;
}

:is(p) {
  font-size: var(--font-text);
  color: var(--color-text);
  font-weight: 300;
  margin-block: 0.25rem;
  line-height: normal;
}

:is(a) {
  font-size: var(--font-text);
  /* color: var(--color-link); */
  color: var(--color-text);
  font-weight: 300;
  text-underline-offset: 0.06rem;
}

:where(.text-center) {
  text-align: center;
}

:where(strong) {
  font-weight: 700;
}
