:root {
  /* Colors */
  /* --color-bg: #fefcf7; */
  --color-bg: #fff;
  --color-white: #ffffff;
  --color-brown: #f9f3ea;
  --color-black-100: #1d1d1f;
  --color-black-200: #313131;
  --color-blue-100: #7aaff0;
  --color-blue-200: #409ceb;
  --color-blue-300: #46bee2;
  --color-gray-100: #f5f5f5;
  --color-gray-200: #ebebeb;

  /* Colors: rgb */
  --color-rgb-black-100: 29, 29, 31;

  /* Font colors */
  --color-text: var(--color-black-200);
  --color-link: var(--color-blue-200);

  /* Font sizes */
  --font-h1: 3rem;
  --font-h2: 1.75rem;
  --font-h3: 1.5rem;
  --font-text: 1.05rem;
  /* --font-text: 1.125rem; */

  /* Spaces: for padding, margins, and gaps */
  --space-small: 0.75rem;
  --space-normal: 1.5rem;
  --space-medium: 2.5rem;
  --space-large: 3rem;
  --space-x-large: 4rem;
  --space-xx-large: 5rem;

  /* Strokes */
  --border-color: var(--color-gray-200);
  --border-width: 1px;
  --border-radius: 0.25rem;

  /* Transitions */
  --transition-scale-up: 1.025;
  --transition-speed: 150ms;
  --transition-curve: ease-in-out;

  /* Breakpoint */
  --media-breakpoint: 768px;

  /* Specifics */
  --nav-height: 3em;
}

/* Fonts */
@font-face {
  font-family: "Neue Plak";
  src: url("neue-plak-ultra-light.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Neue Plak";
  src: url("neue-plak-light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Neue Plak";
  src: url("neue-plak-regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Neue Plak";
  src: url("neue-plak-semi-bold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

:is(h1, h2, h3, p, a, li) {
  font-family:
    "Neue Plak",
    system-ui,
    -apple-system;
  font-feature-settings: "liga", "ss05";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(var(--rgb-black), 0);
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

:is(h1) {
  font-size: var(--font-h1);
  color: var(--color-text);
  font-weight: 500;
  line-height: 1.1;
}

:is(h2) {
  font-size: var(--font-h2);
  color: var(--color-text);
  font-weight: 500;
}

:is(h3) {
  font-size: var(--font-h3);
  color: var(--color-text);
  font-weight: 500;
  margin-block: 0.25rem;
  line-height: 1;
}

:is(p) {
  font-size: var(--font-text);
  color: var(--color-text);
  font-weight: 300;
  margin-block: 0.25rem;
  line-height: normal;
}

:is(a) {
  font-size: var(--font-text);
  color: var(--color-link);
  font-weight: 300;
  text-underline-offset: 0.06rem;
}

:where(.font-bold) {
  font-weight: 500;
}
