:root {
  /* Colors */
  --color-white: #ffffff;
  --color-beige: #F7F6F2;
  --color-brown: #f9f3ea;
  --color-black-100: #1d1d1f;
  --color-black-200: #313131;
  --color-blue-100: #7aaff0;
  --color-blue-200: #409ceb;
  --color-blue-300: #46bee2;
  --color-blue-400: #282E37;
  --color-gray-100: #f5f5f5;
  --color-gray-200: #ebebeb;

  /* Colors: rgb */
  --color-rgb-black-100: 29, 29, 31;

  /* Font colors */
  /* --color-text: var(--color-black-200); */
  --color-text: #191a1b;
  --color-link: var(--color-blue-200);

  /* Font sizes */
  --font-h1: 4rem;
  --font-h2: 1.75rem;
  --font-h3: 1.5rem;
  --font-text: 1.05rem;
  /* --font-text: 1.125rem; */
  --font-h1-mobile: 2.5rem;

  /* Spaces: for padding, margins, and gaps */
  --space-xs: 0.5rem;
  --space-small: 0.75rem;
  --space-normal: 1.5rem;
  --space-medium: 2.5rem;
  --space-large: 3rem;
  --space-x-large: 4rem;
  --space-xx-large: 5rem;

  /* Strokes */
  --border-color: var(--color-gray-200);
  --border-width: 1px;
  --border-radius-sm: 0.125rem;
  --border-radius: 0.25rem;
  --border-radius-lg: 2.25rem;

  /* Transitions */
  --transition-scale-up: 1.025;
  --transition-speed: 150ms;
  --transition-curve: ease-in;

  /* Breakpoint */
  --media-breakpoint: 768px;

  /* Specifics */
  --nav-height: 4.5em;
}

/* Fonts */
@font-face {
  font-family: "Neue Plak";
  src: url("neue-plak-ultra-light.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Neue Plak";
  src: url("neue-plak-light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Neue Plak";
  src: url("neue-plak-regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Neue Plak";
  src: url("neue-plak-semi-bold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "PP Eiko";
  src: url("PPEiko-Thin.otf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "PP Eiko";
  src: url("PPEiko-Medium.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Basis Grotesque Pro";
  src: url("Basis Grotesque Pro Regular.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Basis Grotesque Pro";
  src: url("Basis Grotesque Pro Bold.otf");
  font-weight: 700;
  font-style: bold;
}

:is(h1, h2, h3) {
  font-family:
    "PP Eiko",
    "Neue Plak",
    system-ui,
    -apple-system;
  font-feature-settings: "liga", "ss05";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(var(--rgb-black), 0);
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

:is(p, a, li) {
  font-family:
    "Basis Grotesque Pro",
    system-ui,
    -apple-system;
  font-feature-settings: "liga", "ss05";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(var(--rgb-black), 0);
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

:is(h1) {
  font-size: var(--font-h1);
  color: var(--color-text);
  font-weight: 400;
  line-height: 1.1;
}

@media (max-width: 768px) {
  :is(h1) {
    font-size: var(--font-h1-mobile);
  }
}

:is(h2) {
  font-size: var(--font-h2);
  color: var(--color-text);
  font-weight: 400;
}

:is(h3) {
  font-size: var(--font-h3);
  color: var(--color-text);
  font-weight: 400;
  /* margin-block: 0.25rem; */
  line-height: 1;
}

:is(p) {
  font-size: var(--font-text);
  color: var(--color-text);
  font-weight: 300;
  margin-block: 0.25rem;
  line-height: normal;
}

:is(a) {
  font-size: var(--font-text);
  color: var(--color-link);
  font-weight: 300;
  text-underline-offset: 0.06rem;
}

:where(.font-bold) {
  font-weight: 500;
}

div {
  font-size: var(--font-text);
  color: var(--color-text);
  font-weight: 300;
  /* margin-block: 0.25rem; */
  line-height: normal;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-xs) var(--space-medium);
  background-color: var(--color-blue-400);
  font-size: var(--font-h4);
  color: var(--color-white);
  font-weight: 400;
  line-height: 1;
  border-radius: var(--border-radius-lg);
  text-decoration: none;
  outline: 2px solid transparent;
  outline-offset: 0.2em;
  transition: outline-color var(--transition-speed), outline-offset var(--transition-speed);

}

.btn:hover {
  outline: 2px solid var(--color-black-100);
  outline-offset: 0.05em;
}

.btn--secondary {
  background-color: var(--color-white);
  border: 2px solid var(--color-blue-400);
  color: var(--color-blue-400);
  transition: background-color var(--transition-speed);
}

.btn--secondary:hover {
  background-color: var(--color-blue-400);
  color: var(--color-white);
}

.btn--outline {
  background-color: var(--color-white);
  border: 2px solid var(--color-blue-400);
  color: var(--color-blue-400);
  transition: outline-color var(--transition-speed), outline-offset var(--transition-speed);
}

.btn--outline:hover {
  outline: 2px solid var(--color-white);
  outline-offset: 0.05em;
}

.btn--large {
  margin-top: var(--space-medium);
  font-size: var(--font-h3);
  padding: var(--space-small) var(--space-medium);
}


.color-blue {
  /* color: #31859e; */
  /* color: var(--color-blue-400); */
  text-decoration: underline;
}
